## Term Frequency & inverse Document Frequency

In [1]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer

pd.options.display.max_columns = None

In [2]:
corpus = [

'Data Science is an overlap between Arts and Science',

'Generally, Arts graduates are right-brained and Science graduates are left-brained',

'Excelling in both Arts and Science at a time becomes difficult',

'Natural Language Processing is a part of Data Science'

]


corpus

['Data Science is an overlap between Arts and Science',
 'Generally, Arts graduates are right-brained and Science graduates are left-brained',
 'Excelling in both Arts and Science at a time becomes difficult',
 'Natural Language Processing is a part of Data Science']

In [4]:
tfidf_model = TfidfVectorizer(ngram_range=(1,1),stop_words='english')

data = tfidf_model.fit_transform(corpus)
data

<4x15 sparse matrix of type '<class 'numpy.float64'>'
	with 21 stored elements in Compressed Sparse Row format>

In [5]:
print(data.todense())

[[0.36145869 0.         0.4464734  0.         0.         0.
  0.         0.         0.         0.         0.56629489 0.
  0.         0.59103233 0.        ]
 [0.18676679 0.58521253 0.         0.         0.         0.29260626
  0.58521253 0.         0.29260626 0.         0.         0.
  0.29260626 0.15269409 0.        ]
 [0.33274238 0.         0.         0.52130524 0.52130524 0.
  0.         0.         0.         0.         0.         0.
  0.         0.2720387  0.52130524]
 [0.         0.         0.39953968 0.         0.         0.
  0.         0.50676543 0.         0.50676543 0.         0.50676543
  0.         0.26445122 0.        ]]

In [6]:
tfidf_model.get_feature_names()

['arts',
 'brained',
 'data',
 'difficult',
 'excelling',
 'generally',
 'graduates',
 'language',
 'left',
 'natural',
 'overlap',
 'processing',
 'right',
 'science',
 'time']

In [7]:
# the number here is the column number 
tfidf_model.vocabulary_

{'data': 2,
 'science': 13,
 'overlap': 10,
 'arts': 0,
 'generally': 5,
 'graduates': 6,
 'right': 12,
 'brained': 1,
 'left': 8,
 'excelling': 4,
 'time': 14,
 'difficult': 3,
 'natural': 9,
 'language': 7,
 'processing': 11}

In [8]:
 # this is just idf 
tfidf_model.idf_

array([1.22314355, 1.91629073, 1.51082562, 1.91629073, 1.91629073,
       1.91629073, 1.91629073, 1.91629073, 1.91629073, 1.91629073,
       1.91629073, 1.91629073, 1.91629073, 1.        , 1.91629073])

In [9]:
# for the idf 
pd.DataFrame(tfidf_model.idf_, index=tfidf_model.get_feature_names())

                   0
arts        1.223144
brained     1.916291
data        1.510826
difficult   1.916291
excelling   1.916291
generally   1.916291
graduates   1.916291
language    1.916291
left        1.916291
natural     1.916291
overlap     1.916291
processing  1.916291
right       1.916291
science     1.000000
time        1.916291

In [10]:
# this is in general 
tfidf_df = pd.DataFrame(data.todense(),columns=tfidf_model.get_feature_names())



tfidf_df.head()

,arts,brained,data,difficult,excelling,generally,graduates,language,left,natural,overlap,processing,right,science,time
0,0.361459,0.000000,0.446473,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.566295,0.000000,0.000000,0.591032,0.000000
1,0.186767,0.585213,0.000000,0.000000,0.000000,0.292606,0.585213,0.000000,0.292606,0.000000,0.000000,0.000000,0.292606,0.152694,0.000000
2,0.332742,0.000000,0.000000,0.521305,0.521305,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.272039,0.521305
3,0.000000,0.000000,0.399540,0.000000,0.000000,0.000000,0.000000,0.506765,0.000000,0.506765,0.000000,0.506765,0.000000,0.264451,0.000000